body {
    display:flex;
    height:100vh;
    justify-content:center;
    align-items: center;
}

.calculator {
    width:420px;
    height:650px;
    background-color:black;

    display:flex;
    flex-direction:column;

    border-radius: 15px;
    border:3px solid;
    border-color:black;
    box-sizing:border-box;

    padding:20px;
}

.display {
    display:flex;
    flex-direction:column;
    background-color:rgb(131, 128, 128);
    border-radius:15px;
    box-sizing:border-box;
    height:160px;
    margin-bottom:20px;
}

.previous-operation, .current-operation {
    text-align:end;
    padding:15px;
    box-sizing:border-box;
    width:100%;
    height:50%;
}
.previous-operation {
    color:whitesmoke;
    font-size:28px;
    opacity:0.9;
}

.current-operation {
    color:white;
    font-size:38px;
}
.numpad {
    height:100%;
    display:flex;
    flex-direction: column;
}

.numrow {
    display:flex;
    gap:10px;
    height:20%;
    margin-bottom:5px;
}

.number {
    color:black;
    font-size:40px;
    width:25%;
    background-color:rgb(191, 188, 188);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:15px;
}
.rightcol {
    background-color:rgb(242, 172, 43);
    color:white;
}
#zero-btn {
    width:54%;
}

